@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/* */
html {
  --font-primary: "Libre Baskerville", sans-serif;
  --font-secondary: "Barlow Semi Condensed", sans-serif;
  --font-endp: "Cormorant Garamond", sans-serif;
  --brown: #7B0C12;
  --dark-grey: #343434;
  --light-brown: #D74A52;
}

body {
  font-family: var(--font-primary);
}

/* Banner style */

#banner-image {
  position: relative; /* Pour le positionnement absolu du titre */
  height: 350px; /* Ajustez selon vos besoins */
  width: 100%;
  max-width: 100%;
  display: flex;
  margin-bottom: 13px;
}

#banner-image::before {
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.endp-logo,
.e-endp-logo {
  font-family: var(--font-endp);
}

.endp-logo {
  font-weight: 400;
}

.e-endp-logo {
  font-weight: 300;
  font-style: italic;
}

.title {
  padding: 5%;
  font-size: 3rem;
  position: relative;
  align-items: flex-start;
  text-align: left;
  color: #031531;
}


/* Animations */

@keyframes fadeTitleIn {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeImageIn {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeTextIn {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}