
.reffs {
    margin-left: 2em;
}
.reffs > .col-md-1 {
    width: auto;
}
.reffs > section{
    margin: 3em 0em 0em 0em;
}

#aside {
    resize: yes;
    padding: 1em 1em 1em 0.5em;
    width: 230px;
    border-left: 1px solid #DDD;
    border-right: none;

    margin-top: 3em;
    scrollbar-width: none;
    overflow: initial;

    color : inherit;
    font-size : 16px;
}

#intro-index {
    margin-top: 3em;
    padding-right: 4em;
}

small {
    display: none;
}

.deliberation {
    margin-top: 3em;
}

#navigation-header {
    margin-top: 20px;
}

#collections {
    margin-top: 20px;
}

#menu-container {
    width: 25%;
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}


#reading-container {
    width: 75%;
    border-left: #C9C6BB 1px solid;
    height: fit-content;
}

#center {
    width: 100%;
    margin-left: 2em;
    margin-right: 2em;
}

.ListeData {
    margin-left: 1.5em;
}

.ListeData::-webkit-scrollbar {
    display: none;
}
#body-1 {
    padding-top: 0;
}

#body-1-1 {
    padding-top: 0;
}

#main {
    width: 100%;
}

.titlepage{
    margin-top: 1pc;
    text-align: center;
}

.name{
    margin-top: 0.5pc;
}
.titlepage{
    font-variant: small-caps;
}

.forename{
    font-variant: small-caps;
}

.surname{
    text-transform: uppercase;
}

.roleName{
    font-style: italic;
    font-variant: normal;
    margin-bottom: 0.5pc;
}

hr{
    text-align: center;
    margin: 2em auto 2.5em auto;
}

article > header {
    margin: 0em 4em 0em 0em;
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

article > header > h1, h2 {
    font-family: Georgia, "Bitstream Vera Serif", Times, serif;
}

#row-2 {
    margin-top: 30px;
}

.card-columns {
    margin-top: 3em;
}

.tree li.more::before{
    content: '○';
}

.uc sup {
    font-variant: normal;
}

.num sup, .uc sup{
    text-transform: none;
}

b, p.deliberation {
  display: inline-block !important;
}

/* remove bullets from list */
ul {
    list-style-type: none !important;
}




