.vue-slider {
  height: 6px !important;
}

.vue-slider-process {
  color: var(--light-brown) !important;
  background-color: var(--light-brown) !important;
}

.vue-slider-dot-handle {
  border: 4px solid var(--light-brown) !important;
  box-shadow: 0 0 0 2px var(--light-brown) !important;
}

.vue-slider-dot-tooltip-text {
  display: inline-block;
  padding: 4px 5px !important;
  font-family: var(--font-secondary);
  font-size: 22px !important;
  font-weight: 500 !important;
  line-height: 1;
  color: #fff !important;
}

.vue-slider-dot {
  width: 27px !important;
  height: 27px !important;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px !important;
  white-space: nowrap !important;
  padding: 2px 5px !important;
  min-width: 20px !important;
  text-align: center !important;
  color: #fff !important;
  border-radius: 0 !important;
  border-color: var(--light-brown) !important;
  background-color: var(--light-brown) !important;
  box-sizing: content-box !important;
}